<!-- includes/head.pug -->
meta(charset='utf-8')
title HTMLWebpackPLugin with Pug
doctype html
head
  link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css', rel='stylesheet' type='text/css')
body
  h1 Lightbox

-
  let images0 = [
  {
    thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg',
  }
  ];

  let images = [
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif?fitin=125:125',
      link: 'https://shop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif?fitin=125:125',
      link: 'https://shop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic27/co-f57521-imchk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif?fitin=125:125',
      link: 'https://shop.r10s.jp/chitosesports/cabinet/00619258/img60244057.gif',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1701-pic19/co-f57521-imblk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1702-pic22/co-f57521-svor_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic27/co-f57521-imbpk_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1704-pic19/co-f57521-imsad_1.jpg',
    },
    {
      thumbnail: 'https://tshop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg?fitin=125:125',
      link: 'https://shop.r10s.jp/culture/cabinet/1707-pic27/co-f57521-immid_1.jpg',
    },
  ];

  let images2 = [
  {
    thumbnail: 'https://tshop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg',
  },
  {
    thumbnail: 'https://tshop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg',
  },
  {
    thumbnail: 'https://tshop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg',
  },
  {
    thumbnail: 'https://tshop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg',
  },
  {
    thumbnail: 'https://tshop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/apworld/cabinet/cm/201702/tjg746_02.jpg',
  },
  {
    thumbnail: 'https://tshop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg?fitin=125:125',
    link: 'https://shop.r10s.jp/e-zakkamania/cabinet/07024/32158-0702404d_02.jpg',
  },
  ]
div.grid-x.grid-padding-x.small-up-2.medium-up-4.large-up-6.products
  each image in images0
    div.cell
      a(href=image.link, alt="This is the product title").lightbox
        img(src=image.thumbnail).thumbnail.stretch
div(style='padding: 5rem 0')
div.grid-x.grid-padding-x.small-up-2.medium-up-4.large-up-6.products
  each image in images
    div.cell
      a(href=image.link, rel="lightbox", alt="This is the product title").lightbox
        img(src=image.thumbnail).thumbnail.stretch
div(style='padding: 5rem 0')
div.grid-x.grid-padding-x.small-up-2.medium-up-4.large-up-6.products
  each image in images2
    div.cell
      a(href=image.link, rel="group2", alt="This is the product title").lightbox
        img(src=image.thumbnail).thumbnail.stretch
